@tailwind base;
@tailwind components;
@tailwind utilities;

.post-article {
    width: 50%;
    margin: 0 auto;
}

.mainCoverImage{
    display: flex;
}

.mainCoverText{
    width: 50%;
}

.subCoverImage img{
    max-height: fit-content;
}

.PostBody {
    background-color: #637c76;
}

footer {
    /*background-color: #53786f;*/
    background-color: #609185;
}
